extends layout

block content
	script(src='/javascripts/client-gallery.js')
	.jumbotron.container-fluid#gallery-container
		each image in images
			.col-sm-2.col-md-3.col-lg-3.text-center
				a.thumbnail.nomargin(href=image)
					img(src=image)
				button.btn.btn-xs.twitterbutton(id=image value=image data-image=image data-toggle="modal" data-target="#tweetConfirmation")
					img.twitterbuttonimage(src="images/twitter.png")
	.modal.fade#tweetConfirmation(role="dialog")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Sure?
				.modal-body
					p Are you sure you want to tweet this image using your configured Twitter account? 
					p You can enter a custom message below or leave it empty in order so a random one gets picked.
					input.form-control#tweetText(type="text" maxlength="140")
				.modal-footer
					button.btn.btn-danger#modalCancelButton(type="button" data-dismiss="modal") Cancel
					button.btn.btn-success#modalSendButton(type="button" data-dismiss="modal") Send
	.modal.fade#tweetSuccess(role="dialog")
		.modal-dialog.modal-sm(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Success
				.modal-body
					p Tweet successfully sent. :) See #[a#tweetSuccessLink(href='/' target="_blank") Link]
	.modal.fade#tweetFailure(role="dialog")
		.modal-dialog.modal-sm(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") &times;
					h4.modal-title Failure
				.modal-body
					p Failed to send tweet. There must have been something wrong. :(