extends layout

block content
	script(src='/javascripts/client-gallery.js')
	.jumbotron.container-fluid#gallery-container
		each image in images
			.col-sm-2.col-md-3.col-lg-3.text-center
				a.thumbnail.nomargin(href=image)
					img(src=image)
				button.btn.btn-xs.gallerybutton(value=image data-image=image data-toggle="modal" data-target="#tweetConfirmation")
					img.gallerybuttonimage(src="images/twitter.png")
				button.btn.btn-xs.gallerybutton(value=image data-image=image data-toggle="modal" data-target="#deleteConfirmation")
					img.gallerybuttonimage(src="images/delete.png")
	include gallery-modals.pug